html{
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding:0;
}
h1{
	color: red;
}
p{
	border: solid 1px green;
	box-shadow: 2px 2px 5px red;
	padding: 0.5em;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
    clear:both;
}
 a :hover{
	color: red;
}