{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
   <link rel="stylesheet" href="{% static 'css/main.css' %}" />
   <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>{% block head %}{% endblock %}</header>
    <nav>
       {% block nav %}
       <ul>
            <li><a href="/home">Accueil</a></li>
            <li><a href="/home/date">Affichage date</a></li>
            
       </ul>
       {% endblock %}
   </nav>
   <section id="content">
       {% block content %}{% endblock %}
   </section>
<footer>&copy; Horde.py</footer>
</body>
</html>
